{% extends 'base.html.twig' %}

{% block title %}Loyalty index{% endblock %}

{% block body %}
    <h1 class="mb-4">Loyalty Program</h1>

    <a class="btn btn-primary mb-3" href="{{ path('app_loyalty_new') }}">+ Add Loyalty</a>

    <table class="table table-striped table-bordered">
        <thead class="table-dark"
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Points</th>
                <th>RewardType</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
                <th style="width: 150px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loyalty in loyalties %}
            <tr>
                <td>{{ loyalty.id }}</td>
                <td>{{ loyalty.user.email }}</td>
                <td>{{ loyalty.points }}</td>
                <td>{{ loyalty.rewardType }}</td>
                <td>{{ loyalty.createdAt ? loyalty.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loyalty.updatedAt ? loyalty.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                     <a class="btn btn-sm btn-info" href="{{ path('app_loyalty_show', {'id': loyalty.id}) }}">View</a>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_loyalty_edit', {'id': loyalty.id}) }}">Edit</a>
                    
                    
                </td>
                </td>
            </tr>
        {% else %}
            <tr>
               <td colspan="7" class="text-center">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_loyalty_new') }}">Create new</a>
{% endblock %}
